<%= turbo_frame_tag "new_list" do %>
  <div class="bg-white rounded-lg shadow-md border-blue-200 border-2 p-2 p-6 max-w-xl">
    <h1 class="text-base font-semibold text-gray-900">Add new list</h1>
    <%= render 'form', list: @list, board: @board, cancel_path: board_path(@board), data: {turbo_frame: :_top}  %>
  </div>
<% end %>
