<div class="hidden sm:mb-8 sm:flex sm:justify-center mt-4">
  <div class="relative rounded-full px-3 py-1 text-sm/6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
    This demo application was put together by Hamnavoe Partners. <a href="https://hamnavoepartners.com" target="_blank" class="font-semibold text-indigo-600"><span class="absolute inset-0" aria-hidden="true"></span>Check out our website <span aria-hidden="true">&rarr;</span></a>
  </div>
</div>

<div class="sm:mb-8 flex sm:justify-center mt-4 sm:hidden">
  <%= link_to "https://hamnavoepartners.com", target: "_blank", class: "font-semibold text-indigo-600" do %>
    <span class="absolute inset-0" aria-hidden="true"></span>Built by Hamnavoe Partners <span aria-hidden="true">&rarr;</span>
  <% end %>
</div>