<div class="bg-white rounded-lg shadow-md p-6">
  <h2 class="text-lg font-semibold mb-4"><%= title %></h2>
  <%= link_to button_text, path, class:"bg-indigo-500 hover:bg-indigo-600 text-white font-semibold py-1 px-2 rounded inline-block" %>
</div>
