<div data-modal-target="container" id="modal-container" data-turbo-permanent="" class="hidden fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
  <div class="max-w-2xl max-h-screen w-full relative">
    <div class="m-1 bg-white rounded-lg shadow-lg border-4 border-blue-200">
      <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
        <h3 id="modal-title" class="text-lg leading-6 font-medium text-gray-900"></h3>
      </div>
      <div id="modal-body" class="px-4 py-2"></div>
    </div>
  </div>
</div>