<%= button_tag type: :submit, data: data, class: "#{width} inline-flex justify-center rounded-md border border-transparent bg-green-600 text-sm font-medium text-white shadow-sm hover:bg-opacity-70 focus:outline-none focus:ring-2 focus:ring-green-300 focus:ring-offset-2 #{button_classes} #{padding_classes}" do %>
  <span><%= text %></span>
<% end %>